@page {
  size: A4 landscape;
  margin: 8mm;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 9pt;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.header td,
.meta td {
  border: 1px solid #000;
  padding: 3px;
}
