@page {
  size: A4 landscape;
  margin: 10mm;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8.5pt;
  color: #000;
}

.page {
  border: 3px double #000;
  padding: 6px;
}

/* HEADER */
.header {
  display: table;
  width: 100%;
  border-bottom: 1px solid #000;
}

.logo, .company, .report-title {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  width: 8%;
}
.logo img {
  width: 55px;
}

.company {
  width: 72%;
  text-align: center;
}
.company .name {
  font-weight: bold;
  font-size: 14pt;
}
.company .address {
  font-size: 9pt;
}

.report-title {
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}

/* INFO TABLE */
.info {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4px;
}
.info td {
  border: 1px solid #000;
  padding: 3px;
}

/* MAIN TABLE */
.main {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}
.main th, .main td {
  border: 1px solid #000;
  padding: 4px;
  vertical-align: top;
}
.main th {
  text-align: center;
  font-weight: bold;
}
.main td:nth-child(1),
.main td:nth-child(3),
.main td:nth-child(4),
.main td:nth-child(5),
.main td:nth-child(6) {
  text-align: center;
  white-space: nowrap;
}
.main td:nth-child(2),
.main td:nth-child(7) {
  text-align: left;
}

/* FOOTER */
.footer {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
}
.footer td {
  border: 1px solid #000;
  padding: 6px;
  vertical-align: bottom;
}

.footer .ref {
  width: 35%;
  font-size: 7.5pt;
}
.footer .result {
  width: 35%;
  font-weight: bold;
}
.footer .sign {
  width: 30%;
  text-align: center;
}
.footer .sign-name {
  font-weight: bold;
  margin-top: 25px;
}
.footer .sign-title {
  font-size: 8pt;
}
.footer .vendor {
  text-align: center;
  font-size: 8pt;
}
