body {
  font-family: Arial, sans-serif;
  font-size: 9px;
}

.page {
  border: 3px double #000;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

.logo {
  width: 60px;
}

.company {
  flex: 1;
  text-align: center;
}

.company h1 {
  font-size: 15px;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

td, th {
  border: 1px solid #000;
  padding: 3px;
  vertical-align: top;
}

th {
  text-align: center;
  font-weight: bold;
}

.info td:nth-child(odd) {
  font-weight: bold;
  width: 12%;
}

.main td:nth-child(1),
.main td:nth-child(3),
.main td:nth-child(4),
.main td:nth-child(5) {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sign {
  text-align: center;
}
