body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 12px;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 4px;
  vertical-align: top;
}

/* HEADER */
.header td {
  border: none;
}

.logo img {
  width: 70px;
}

.company {
  text-align: center;
}

.company-name {
  color: #0047ab;
  font-weight: bold;
  font-size: 16px;
}

.company-address {
  font-size: 10px;
}

.title {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  color: #0047ab;
}

/* META */
.meta td {
  width: 25%;
}

/* CONTENT */
.content td {
  vertical-align: top;
}

.left { width: 60%; }
.right { width: 40%; }

.items th span {
  font-size: 9px;
  font-weight: normal;
}

.tests th {
  text-align: center;
}

/* FOOTER */
.footer td {
  height: 80px;
}

.accepted {
  font-weight: bold;
}

.sign-box {
  height: 50px;
}

.sign-name {
  font-weight: bold;
  text-align: center;
}

.sign-desg {
  font-size: 10px;
  text-align: center;
}
